* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
}
.unorderedList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}
.activeLanguageDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.imageDetails {
  width: 300px;
  height: 200px;
  border: none;
}
